.primary-btn-yellow1 {
    padding: 10px 10px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    border: none;
    font-size: var(--text-m3);
    text-decoration: none;
}
.primary-btn-yellow1 {
    background: var(--pr-yellow);
    color: var(--pr-green);
}




/* Product Card */
.product-card {
    background: var(--white1);
    filter: drop-shadow(0 0 5px var(--grey1));
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.product-card.three {
    width: calc(100% / 3 - 20px);
}

.product-card-pic {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card-pic img {
    height: 100%;
    position: absolute;
}
.product-card-texts {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}





/* Forms */
.form-field-1 {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: var(--white2);
    font-size: 1rem;
}