.footer1 {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--pr-green);
    padding: 50px 20vw;
    display: flex;
    justify-content: space-between;
    color: var(--white);
}
.footer1-logo img {
    height: 100%;
}
.footer1-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.footer1-link {
    text-decoration: none;
    font-size: var(--text-m2);
    color: var(--white2);
}
.footer1-link:hover {
    text-decoration: underline;
}




@media (min-width: 1500px) and (max-width: 1799px) {
    .footer1 {
        padding: 50px 15vw;
    }
}

@media (min-width: 900px) and (max-width: 1499px) {
    .footer1 {
        padding: 50px 10vw;
    }
}

@media (min-width: 300px) and (max-width: 899px) {
    .footer1 {
        padding: 50px 5vw;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .footer1-links {
        text-align: center;
        align-items: center;
    }
}