.reservation-content1 {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 20vw;
}

.reservation-form1 {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid var(--pr-green);
    margin: auto;
}





@media (min-width: 1500px) and (max-width: 1799px) {
    .reservation-content1 {
        padding: 50px 15vw;
    }
}

@media (min-width: 900px) and (max-width: 1499px) {
    .reservation-content1 {
        padding: 50px 10vw;
    }
}

@media (min-width: 300px) and (max-width: 899px) {
    .reservation-content1 {
        padding: 50px 5vw;
    }
}